@import url(./normalize1.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  padding: 1.5rem 0 2.8125rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 46.625rem;
  }
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}
.hero:after {
  position: absolute;
  bottom: -1.8125rem;
  right: 2.625rem;
  content: url(../img/rect-hero.png);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background: url(../img/elipse5.png) right 7% center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: url(../../img/Ellipse5-2.png);
    margin-bottom: 3.125rem;
  }
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.3125rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 7%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.0625rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 2.375rem;
  padding-right: 15%;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 23%;
    margin-bottom: 1.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 13%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  margin-right: 34px;
  width: 2.5rem;
  height: 2.5rem;
}

.menu {
  margin: 0 -1px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 2.875rem;
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 1.75rem;
  margin-right: 0.375rem;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 5px;
}

.menu__link {
  text-decoration: none;
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.menu--vertical {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 43.125rem;
  background: #333537;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu--vertical.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.close__icon-wrapper {
  width: 1.25rem;
  height: 3.875rem;
  margin-left: auto;
  margin-right: 2.625rem;
  padding-top: 2.625rem;
  margin-bottom: 4.5625rem;
}

.close__img {
  width: 100%;
  height: 1.25rem;
}

.men__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  font-family: Play;
  line-height: 4.5rem;
  color: white;
}

.menu__links {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.features__item {
  margin-right: 0.375rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5625rem;
  margin-right: 0.5625rem;
  width: 41px;
  height: 41px;
}

.feature__text {
  font-size: 1rem;
  max-width: 7.625rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  background-color: #E01F3D;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn--trasparent {
  background: transparent;
  color: white;
  text-transform: none;
}

.section {
  height: 100vh;
  min-height: 43.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 44.125rem;
  }
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.0625rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 5.5625rem;
}
@media screen and (max-width: 768px) {
  .headline {
    margin-bottom: 2.7rem;
  }
}

.headline__title {
  margin-bottom: 0;
}

.headline__subtitle {
  padding: 0 10%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1875rem;
  }
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-family: Play;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.25rem;
  }
}

.benefit__desc {
  font-family: Play;
  font-size: 1rem;
}

.benefits__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefits__icon {
  width: 61px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefits__icon-reb {
  height: 52px;
  width: 52px;
}

.benefits__image {
  margin-bottom: 1.1875rem;
}
@media screen and (max-width: 480px) {
  .benefits__image {
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
}

.products-section {
  background: #F8FAF9;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .products-section {
    min-height: 56.625rem;
  }
}

.products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (max-width: 768px) {
  .products-slider {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.product-slider__arow {
  position: absolute;
  top: 237px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .product-slider__arow {
    top: 189px;
  }
}

.product-slider__arow--prev {
  left: -42px;
}
@media screen and (max-width: 768px) {
  .product-slider__arow--prev {
    left: 114px;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arow--prev {
    left: 4px;
  }
}

.product-slider__arow--next {
  right: -24px;
}
@media screen and (max-width: 768px) {
  .product-slider__arow--next {
    right: 114px;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arow--next {
    right: 3px;
  }
}

.arrow {
  width: 1.5rem;
  height: 2.5rem;
}

.product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__image-wrapper {
  width: 22.25rem;
  height: 22.25rem;
}
@media screen and (max-width: 768px) {
  .product__image-wrapper {
    width: 19.125rem;
    height: 19.125rem;
  }
}

.products__icon {
  width: 100%;
  height: 100%;
}

.beats__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__col-second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3.6875rem;
}
@media screen and (max-width: 768px) {
  .product__col-second {
    margin-left: 0;
    text-align: center;
    margin-top: 2.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .product__col-second {
    margin-top: 1.5rem;
  }
}

.gear__icon {
  display: inline-block;
  width: 4.6875rem;
  height: 4.6875rem;
  position: relative;
  background: #9A9A9A;
  border-radius: 6%;
  overflow: hidden;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .gear__icon {
    display: none;
  }
}

.gear__image {
  width: 2.6875rem;
  height: 2.6875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__image {
  padding-top: 2.6875rem;
}

.product__title {
  font-family: Play;
  color: #292929;
  line-height: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    padding: 0 6%;
  }
}

.product__text {
  font-family: Play;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding-right: 12%;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .product__text {
    padding: 0 6%;
  }
}
@media screen and (max-width: 480px) {
  .product__text {
    padding: 0 5%;
  }
}

.product__values {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

th {
  padding-right: 5.3125rem;
  font-size: 1rem;
  font-weight: normal;
}

td {
  color: #000;
  font-size: 1.125rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  td {
    padding-right: 3.5625rem;
    padding-left: 2.25rem;
  }
}

.product__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product__price {
  color: #151515;
  font-family: Play;
  font-size: 36px;
  margin-right: 1.25rem;
}

.dropdown__menu {
  position: absolute;
  border-radius: 0.25rem;
  background: rgb(255, 255, 255);
  color: #000;
  font-family: Play;
  line-height: 1.5rem;
  width: 15.0625rem;
  height: 18.375rem;
  margin-left: 84px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}

.beats__desc:hover .dropdown__menu {
  opacity: 1;
}

.dropdown__list {
  padding: 1.125rem 0.8125rem;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.item__wrapper-image {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  padding: 0.625rem 0.75rem;
}

.item__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.625rem 0.75rem;
}

.item__numbers {
  text-align: right;
  padding: 0.625rem 0.75rem;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 14.4444rem;
  position: relative;
}

.team__member {
  height: 288px;
  margin-bottom: 20px;
}

.team__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
  font-family: Play;
}

.team__content-block {
  padding-bottom: 5px;
}

.team__occ {
  color: #000;
}

.team--version--dsktop .team__content {
  position: absolute;
  top: 100%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 1.25rem 2.8125rem 2.125rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.25rem;
    height: 8.25rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 20px;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.25rem;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Play;
  margin-bottom: 1.375rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2.25rem;
  font-family: Play;
  font-size: 1rem;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: #181818;
}

.section__title-order, .form__title {
  color: white;
}

.section__title-order {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .section__title-order {
    padding-top: 3.5rem;
    margin-bottom: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title-order {
    font-size: 2.0625rem;
    margin-bottom: 2.125rem;
    padding-top: 5.5rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 18%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__title {
  font-family: Play;
  font-size: 1rem;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 22px;
  }
  .form__row:last-child {
    margin-bottom: 0px;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
  width: 6.25rem;
  height: 3.625rem;
  margin-bottom: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__block-textarea {
  height: 11.25rem;
}
@media screen and (max-width: 768px) {
  .form__block-textarea {
    height: 6.25rem;
  }
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-bottom: 3px;
  }
}

.form__input {
  width: 100%;
  border: solid 0.1875rem transparent;
  padding: 1.125rem 0.6875rem;
  border-radius: 5px;
}
.form__input-textarea {
  height: 11.25rem;
  width: 100%;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input-textarea {
    height: 5.4375rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4375rem 0.0625rem;
  }
}

.form__input.input-error {
  border-color: hotpink;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 2.5rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn--trasparent {
  color: white;
}
.btn--trasparent:hover {
  color: #E01F3D;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Play;
  font-size: 1rem;
  margin-right: 2.3125rem;
  margin-bottom: 0.3125rem;
}
.radio-checkbox .radio__visible {
  border-radius: 0;
}
.radio-checkbox .radio__visible:before {
  background: url(../../img/checkmark.png) center center no-repeat;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background-color: #E01F3D;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 1%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__item {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}