.benefit {
  text-align: center;
}



.benefit__title {
  font-family: Play;
font-size: 1.5rem;
font-weight: 700;

}

.benefit__desc {
  font-family: Play;
  font-size: 1rem;
}

.benefits__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;

}

.benefits__icon {
  width: 4.6875rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}