.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: 1.1875rem;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}