.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  background-color:#E01F3D ;
  color: #fff;
  border: none;
  cursor: pointer;

}

.btn--trasparent {
  background: transparent;
  color: white;
  text-transform: none;
}