.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: rem(1.125rem) rem(2rem);
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  background-color:#E01F3D ;
  color: #fff;
  border: none;


}

.btn--trasparent {
  background: transparent;
  color: white;
  text-transform: none;
}