.dropdown__menu{
 
  position: absolute;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255);
  color: #000;
  font-family: Play;
  line-height: 1.5rem;
  width: 15.0625rem;
  height: 18.375rem;
  margin-left: 84px;
  transition: opacity .4s;
  opacity: 0;
 
}

.beats__desc:hover {
  .dropdown__menu{
    opacity: 1;

 }
}

.dropdown__list {
  padding: 1.125rem 0.8125rem;
}
.dropdown__item {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.item__wrapper-image {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  padding: 0.625rem 0.75rem;
}

.item__desc {
  flex: 1;
  padding: 0.625rem 0.75rem;
}

.item__numbers {
  text-align: right;
  padding: 0.625rem 0.75rem;
  
}

// .dropdown__menu:before {
//   content: "";
//   display: block;
//   height: 1.875rem;
//   left: 0;
//   right: 0;
//   top: -1.8125rem;
//   position: absolute;
// }