.order-section {
  background: #181818;
}

.section__title-order, .form__title {
  color: white;
}

.section__title-order {
  font-size: 3rem;
  @include tablets {
    padding-top: 3.5rem;
    margin-bottom: 0.875rem;
  }

  @include phones {
    font-size: 2.0625rem;
    margin-bottom: 2.125rem;
    padding-top: 5.5rem;
  }
}

.form {
  display: flex;

  @include tablets {
    padding: 0 18%;
    flex-direction: column;
    
  }

  @include phones {
    padding: 0;
  }
}

.form__title {
  font-family: Play;
font-size: 1rem;
}
.form__col {
  flex:1;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 18px;
  
  @include phones {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.form__block {
  flex: 1;
  margin-right: 1.25rem;
  width: 6.25rem;
  height: 3.625rem;
margin-bottom: 1.25rem;
  &:last-child {
    margin-right: 0;
  }

  &-textarea {
    height: 11.25rem;

    @include tablets {
      height: 6.25rem;
    }
  }

  @include tablets {
    margin-bottom: 3px;
  }
}

.form__input {
  width: 100%;
  border: solid 0.1875rem transparent;
  padding: 1.125rem 0.6875rem;
  border-radius: 5px;

  &-textarea {
    height: 11.25rem;
    width: 100%;
    resize: none;

    @include tablets {
      height: 5.4375rem;
    }
    
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }

  @include tablets {
    padding: 0.4375rem 0.0625rem;
  }
}

// .form__row-area{
//   display: flex;
//   flex-wrap: wrap;
// }

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 2.5rem;

  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.btn--trasparent {
  color: white;


&:hover {
  color: $darkRed;
}
}
