.header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.logo{
  margin-right: 2.375rem;
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

.menu__item {
  margin-right: 1.6875rem;

  &:last-child {
    margin-right: 2.875rem;
  }
}

.phone-number {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.375rem;
}

.menu__link {
  text-decoration: none;
}