.reviews__display {
  background:#F8FAF9;
  padding:1.25rem 2.8125rem 2.125rem;

  
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: .3s;
  opacity: 0;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;

  @include tablets {
    width: 8.25rem;
    height: 8.25rem;
  }

  @include phones {
    margin-bottom: 20px;
  } 

}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.25rem;
}

.reviews__title{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Play;
  margin-bottom: 1.375rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2.25rem;
  font-family: Play;
  font-size: 1rem;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__switcher-item {
  justify-content: space-between;
  
}