.team {
  display: flex;
  justify-content: space-between;

  @include tablets {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}

.team--version--desktop {
  @include tablets {
    display: none;
  }
}

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
  }
}

.team__item {
  flex:1;
  text-align: center;
  margin-right: 20px;
  max-width: 14.4444rem;
  position: relative;
}

.team__member {
  height: 288px;
  margin-bottom: 20px;
}

.team__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
}

.team__content {
  overflow: hidden;
  transition: height .3s;
  height: 0;
  font-family: Play;
}

.team__content-block {
  padding-bottom: 5px;
}

.team__occ {
  color: #000;
}

.team--version--dsktop .team__content{
  position: absolute;
  top: 100%;
}